/* #resume-form{
    display: none;
} */

#resume-template{
    display: none;
}
.resume{
    border: 1px solid black;
}

.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: aqua;
}